<footer class="footer">
  <small>
    <%= link_to t('.rails_tutorial'), 'http://railstutorial.jp/' %>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to t('.about'),   about_path %></li>
      <li><%= link_to t('.contact'), contact_path %></li>
      <li><%= link_to t('.news'), 'http://news.railstutorial.jp/' %></li>
    </ul>
  </nav>
</footer>
